<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/foundation.min.css" />
    <script src="{{ site.url }}/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
  	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
		<li class="name">
		  <h1><a href="{{ site.url }}/">{{ site.name }}</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>
	
	  <section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="left"></ul>
		<ul class="right">
		  <li><a href="{{ site.url }}/hope_in_process.html">Hope in Process</a></li>
		  <li><a href="{{ site.url }}/crossing_borders.html">Crossing Borders</a></li>
		  <li><a href="{{ site.url }}/eu_for_macedonia.html">EU for Macedonia</a></li>
		  <li><a href="{{ site.url }}/treasures.html">Treasures</a></li>
		  <li><a href="{{ site.url }}/about.html">About</a></li>
		</ul>
	  </section>
	</nav>

    <div class="row">
      <div class="large-12 columns">
