---
title: Impressions from Germany and France
lang: en
tags:
- "About"
layout: post
---
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="2013/Foto 1.JPG" alt="Haus der Geschichte - Musée de l'histoire allemande - Куќа на историјата - Shtëpia e historisë (1)" %}</li>
<li>{% include image.html file="2013/Foto 2.JPG" alt="Haus der Geschichte - Musée de l'histoire allemande - Куќа на историјата - Shtëpia e historisë (2)" %}</li>
<li>{% include image.html file="2013/Foto 3.JPG" alt="Haus der Geschichte - Musée de l'histoire allemande - Куќа на историјата - Shtëpia e historisë (3)" %}</li>
<li>{% include image.html file="2013/Foto 4.JPG" alt="Deutsch-französische Stadtführung - Tour guidé franco-allemand - германско-француски водич - Udhëheqësi turistik gjermano-francez (1)" %}</li>
<li>{% include image.html file="2013/Foto 5.JPG" alt="Deutsch-französische Stadtführung - Tour guidé franco-allemand - германско-француски водич - Udhëheqësi turistik gjermano-francez (2)" %}</li>
<li>{% include image.html file="2013/Foto 6.JPG" alt="Kreative Stadterkundung - Exploration créative de la ville - Креативно истражување на градот - Eksplorimi kreativ i qytetit" %}</li>
</ul>
<!--more-->
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="2013/Foto 7.JPG" alt="Besichtigung der UN & Deutschen Welle - Visite de l'UNO & Deutsche Welle - Посета  на Обединетите нации и Дојче Веле радио - Vizita e Kombeve të Bashkuara dhe Dojçe Velle (1)" %}</li>
<li>{% include image.html file="2013/Foto 8.JPG" alt="Besichtigung der UN & Deutschen Welle - Visite de l'UNO & Deutsche Welle - Посета  на Обединетите нации и Дојче Веле радио - Vizita e Kombeve të Bashkuara dhe Dojçe Velle (2)" %}</li>
<li>{% include image.html file="2013/Foto 9.JPG" alt="Gruppenarbeit - Travail en groupe - Работна група - Puna në grupe (1)" %}</li>
<li>{% include image.html file="2013/Foto 10.JPG" alt="Gruppenarbeit - Travail en groupe - Работна група - Puna në grupe (2)" %}</li>
<li>{% include image.html file="2013/Foto 11.JPG" alt="Gruppenarbeit - Travail en groupe - Работна група - Puna në grupe (3)" %}</li>
<li>{% include image.html file="2013/Foto 12.JPG" alt="Centre européen d'Actions artistiques Contemporaines - Europäisches Zentrum für 		zeitgenössische Kunst - Европски центар на применета уметност - Qendra Europiane Artit Bashkëkohor (1)" %}</li>
<li>{% include image.html file="2013/Foto 13.JPG" alt="Centre européen d'Actions artistiques Contemporaines - Europäisches Zentrum für 		zeitgenössische Kunst - Европски центар на применета уметност - Qendra Europiane Artit Bashkëkohor (2)" %}</li>
<li>{% include image.html file="2013/Foto 14.JPG" alt="Quartier des Institutions européennes - Europaviertel - Оддел на ЕУ институции - Rrethi i institucioneve të BE (1)" %}</li>
<li>{% include image.html file="2013/Foto 15.JPG" alt="Quartier des Institutions européennes - Europaviertel - Оддел на ЕУ институции - Rrethi i institucioneve të BE (2)" %}</li>
<li>{% include image.html file="2013/Foto 16.JPG" alt="Quartier des Institutions européennes - Europaviertel - Оддел на ЕУ институции - Rrethi i institucioneve të BE (3)" %}</li>
<li>{% include image.html file="2013/Foto 17.JPG" alt="Quartier des Institutions européennes - Europaviertel - Оддел на ЕУ институции - Rrethi i institucioneve të BE (4)" %}</li>
<li>{% include image.html file="2013/Foto 18.JPG" alt="Pont européen - Europabrücke - Европски мост - Ura Europiane (1)" %}</li>
<li>{% include image.html file="2013/Foto 19.JPG" alt="Pont européen - Europabrücke - Европски мост - Ura Europiane (2)" %}</li>
<li>{% include image.html file="2013/Foto 20.JPG" alt="Visite de la ville - Stadtbesichtigung - Посета на градот - Vizita në qytet (1)" %}</li>
<li>{% include image.html file="2013/Foto 21.JPG" alt="Visite de la ville - Stadtbesichtigung - Посета на градот - Vizita në qytet (2)" %}</li>
</ul>

