---
title: Participants
lang: en
tags:
- "About"
layout: post
---
<ul class="clearing-thumbs small-block-grid-3 medium-block-grid-5 large-block-grid-9" data-clearing>
<li>{% include image.html file="portraits/th_P1020170.JPG" alt="Dardan" %}</li>
<li>{% include image.html file="portraits/th_P1020174.JPG" alt="Slagjana" %}</li>
<li>{% include image.html file="portraits/th_P1020219.JPG" alt="Jens" %}</li>
<li>{% include image.html file="portraits/th_P1020163.JPG" alt="Bujar" %}</li>
<li>{% include image.html file="portraits/th_P1020176.JPG" alt="Jean-Luc" %}</li>
<li>{% include image.html file="portraits/th_P1020183.JPG" alt="Sarah" %}</li>
<li>{% include image.html file="portraits/th_P1020199.JPG" alt="Daniel" %}</li>
<li>{% include image.html file="portraits/th_P1020165.JPG" alt="Korab" %}</li>
<li>{% include image.html file="portraits/th_P1020164.JPG" alt="Jetmir" %}</li>
<li>{% include image.html file="portraits/th_P1020166.JPG" alt="Egzona" %}</li>
<li>{% include image.html file="portraits/th_P1020168.JPG" alt="Aferdita" %}</li>
<li>{% include image.html file="portraits/th_P1020169.JPG" alt="Merita" %}</li>
<li>{% include image.html file="portraits/th_P1020171.JPG" alt="Guxim" %}</li>
<li>{% include image.html file="portraits/th_P1020173.JPG" alt="Srgjan" %}</li>
<li>{% include image.html file="portraits/th_P1020175.JPG" alt="Nina" %}</li>
<li>{% include image.html file="portraits/th_P1020177.JPG" alt="Sophia" %}</li>
<li>{% include image.html file="portraits/th_P1020178.JPG" alt="Lucie" %}</li>
<li>{% include image.html file="portraits/th_P1020179.JPG" alt="Irena" %}</li>
<li>{% include image.html file="portraits/th_P1020180.JPG" alt="Alexane" %}</li>
<li>{% include image.html file="portraits/th_P1020181.JPG" alt="Manu" %}</li>
<li>{% include image.html file="portraits/th_P1020182.JPG" alt="Zinabe" %}</li>
<li>{% include image.html file="portraits/th_P1020197.JPG" alt="Dennis" %}</li>
<li>{% include image.html file="portraits/th_P1020198.JPG" alt="Sabrina" %}</li>
<li>{% include image.html file="portraits/th_P1020200.JPG" alt="Niki" %}</li>
<li>{% include image.html file="portraits/th_P1020201.JPG" alt="Anna" %}</li>
<li>{% include image.html file="portraits/th_P1020207.JPG" alt="Sabine" %}</li>
</ul>

