---
title: Hope in Process
lang: en
tags:
- "Hope in Process"
layout: post
---
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="hope_in_process/th_1.JPG" alt="Thinking about the topic (1)" %}</li>
<li>{% include image.html file="hope_in_process/th_2.JPG" alt="Thinking about the topic (2)" %}</li>
<li>{% include image.html file="hope_in_process/th_3.JPG" alt="Thinking about the topic (3)" %}</li>
<li>{% include image.html file="hope_in_process/th_4.JPG" alt="Walk to Struga (1)" %}</li>
<li>{% include image.html file="hope_in_process/th_5.JPG" alt="Walk to Struga (2)" %}</li>
<li>{% include image.html file="hope_in_process/th_6.JPG" alt="Struga (1)" %}</li>
</ul>
<!--more-->
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="hope_in_process/th_7.JPG" alt="Struga (2)" %}</li>
<li>{% include image.html file="hope_in_process/th_8.JPG" alt="Taking pictures (1)" %}</li>
<li>{% include image.html file="hope_in_process/th_9.JPG" alt="Taking pictures (2)" %}</li>
<li>{% include image.html file="hope_in_process/th_10.JPG" alt="Taking pictures (3)" %}</li>
<li>{% include image.html file="hope_in_process/th_11.JPG" alt="Taking pictures (4)" %}</li>
<li>{% include image.html file="hope_in_process/th_12.JPG" alt="Driving back to Tetovo" %}</li>
<li>{% include image.html file="hope_in_process/th_13.JPG" alt="Choosing pictures (1)" %}</li>
<li>{% include image.html file="hope_in_process/th_14.JPG" alt="Choosing pictures (2)" %}</li>
</ul>

