---
title: Impressions from Macedonia
lang: en
tags:
- "About"
layout: post
---
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="2014/th_1.JPG" alt="Истражување на Тетово -  Eksplorimi i Tetovës - Erkundung der Stadtteile Tetovos - Découverte des quartiers de Tetovo" %}</li>
<li>{% include image.html file="2014/th_2.JPG" alt="Истражување на Тетово -  Eksplorimi i Tetovës - Erkundung der Stadtteile Tetovos - Découverte des quartiers de Tetovo" %}</li>
<li>{% include image.html file="2014/th_3.JPG" alt="Истражување на Тетово -  Eksplorimi i Tetovës - Erkundung der Stadtteile Tetovos - Découverte des quartiers de Tetovo" %}</li>
<li>{% include image.html file="2014/th_4.JPG" alt="Идентитет и полтичка позадина на Македонија - Identiteti dhe prapavija politike e Maqedonisë - Hintergrund und Identität Mazedoniens -  L'identité et contexte politique macédoniens" %}</li>
<li>{% include image.html file="2014/th_5.JPG" alt="Идентитет и полтичка позадина на Македонија - Identiteti dhe prapavija politike e Maqedonisë - Hintergrund und Identität Mazedoniens -  L'identité et contexte politique macédoniens" %}</li>
<li>{% include image.html file="2014/th_6.JPG" alt="Дискусија за влез на Македонија во ЕУ- Diskutimi për hyrjen e Maqedonisë në BE - Diskussion zum gewünschten EU-Beitritt Mazedoniens - Débats sur le statut  officiels de pays candidat  de la République de Macédoine dans l'UE" %}</li>
</ul>
<!--more-->
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
<li>{% include image.html file="2014/th_7.JPG" alt="Дискусија за влез на Македонија во ЕУ- Diskutimi për hyrjen e Maqedonisë në BE - Diskussion zum gewünschten EU-Beitritt Mazedoniens - Débats sur le statut  officiels de pays candidat  de la République de Macédoine dans l'UE" %}</li>
<li>{% include image.html file="2014/th_8.JPG" alt="Посета на СЕЕУ во Тетово - Vizita e SEEU në Tetovë - Besichtigung der multilingualen SEEU of Tetovo - Tour guidé à SEEU à Tetovo" %}</li>
<li>{% include image.html file="2014/th_9.JPG" alt="Посета на СЕЕУ во Тетово - Vizita e SEEU në Tetovë - Besichtigung der multilingualen SEEU of Tetovo - Tour guidé à SEEU à Tetovo" %}</li>
<li>{% include image.html file="2014/th_10.JPG" alt="Посета на СЕЕУ во Тетово - Vizita e SEEU në Tetovë - Besichtigung der multilingualen SEEU of Tetovo - Tour guidé à SEEU à Tetovo" %}</li>
<li>{% include image.html file="2014/th_11.JPG" alt="Работната група во Струга - Punë në grupe në Strugë - Gruppenarbeit in Struga - Travail en groupe à Struga" %}</li>
<li>{% include image.html file="2014/th_12.JPG" alt="Посета на Охрид - Vizita në Ohër - Besuch der Stadt Ohrid - Visite de Ohrid" %}</li>
<li>{% include image.html file="2014/th_13.JPG" alt="Посета на Охрид - Vizita në Ohër - Besuch der Stadt Ohrid - Visite de Ohrid" %}</li>
</ul>

